  .flip-card {
  background-color: transparent;
  width: 850px;
  height:600px;
  perspective: 1000px;
  border-radius: 15px;
  margin-top: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px
}

.flip-card-front {
  background-color: white;
  color: black;
  border-radius: 15px
}

.flip-card-back {
  background-color: #343a40;
  color: white;
  transform: rotateY(180deg);
  border-radius: 15px
}
h6
{
    color:white;
    margin-top: 5px
}
p
{
    color:white;
}
#myCarousel
{

}